# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store

# env files (can opt-in for committing if needed)
.env*

# logs
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
